---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Values.namespace }}
  name: home-assistant
  labels:
    app: home-assistant
    {{- include "chart.labels" . | nindent 4 }}
spec:
  selector:
    app: home-assistant
  type: ClusterIP
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8123
  {{- if .Values.homeAssistant.matter.enabled }}
  - name: ws
    protocol: TCP
    port: {{ .Values.homeAssistant.matter.port }}
    targetPort: {{ .Values.homeAssistant.matter.port }}
  {{- end }}
